body {

 /* background: #e67e22; */
 /* background: "background.jpg"; */
 background-image: linear-gradient(to right, #33ccff , #33cc33);

}

#home{
  position:absolute;
    transition: .5s ease;
    top: 1.5%;
    left: 1%;
}

.top_nav {
  /* float: left; */
  /* color: #d35400; */
  color: transparent;
  text-align: right;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
  font-family:helvetica;
  float: right;

}
input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
cursor: pointer;
width: 100px;
height: 100px;
border:2px solid #03b1ce ;}
.tital{ font-size:16px; font-weight:500;}
.bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0
}
/* then whole row background */
.row{
  background-color: transparent;
}

.panel-heading{
  background-color: #00ffff;
}
.panel{
  background:  #00ffff;
}
.box{
  background-color: transparent
}
.box-body{
  background-color:transparent
}

/* Create three unequal columns that floats next to each other */
.column{
  /* float: left; */
  padding: 40px;
}
.left{
  width:30%;
}


.right{
  width:30%;
}
.middle{
  width:40%;
}

@media screen and (max-width: 1150px) {
  .column {
    width: 100%;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  object-fit: cover;

}


.view input {
  border:0;
  background:0;
  outline:none !important;
}

/* to set background color of text input box */
/* input[type="text"], textarea {
  background-color :transparent;

} */
/* to make the choose file look better when upload a file */
/* .file-upload input[type='file'] {
  display: none;
} */


/* .custom-file-label.rounded-pill {
  border-radius: 50rem;
}

.custom-file-label.rounded-pill::after {
  border-radius: 0 50rem 50rem 0;
} */

.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  object-fit: cover;
}

/* used for the edit profile modal */
/* div.modal div.modal-backdrop {
    z-index: 0;
} */
/* p1 {
    display: inline-block;
    background-color:#ffffff;
    border-radius: 2px;
} */


input{
  background-color:transparent;
  border-color:transparent;
  border-radius: 3px;
}


/* column right: drop zone starts */

/* file upload css*/
#dragandrophandler {
    border: 2px dotted #0B85A1;
    width: 400px;
    color: #92AAB0;
    text-align: left;
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    font-size: 200%;
}

#drop-zone {
    position: relative;
    left:0%;
    width: 100%;
    height: 240px;
    text-align: center;
    padding: 86px 0 0;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    font-size: 1.25rem;
    font-family: helvetica;
    background-color: #c8dadf;
    border: 2px dashed rgba(0,0,0,.3);
    border-radius: 20px;
    font-family: helvetica;
    top:25px;
    line-height: 80px;
    /* position: relative; */
    /* padding: 100px 20px; */
}

.btn-file input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    font-family: helvetica;
}

input[type=file] {
    display: block;
}

#drop-zone .drop-zone-caption {
    font-size: 20px;
    font-weight: 600;
    color: #919fa9;
    margin: 0 0 14px;
}

.btn.btn-primary {
    background-color: #00a8ff;
    border-color: #00a8ff;
}
