.title{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 60px;
  border-radius: 50px;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  font-family: helvetica;
  color: white;
}
.rounded-corners{
  border-radius: 30px
}
img{
  max-width: 100%;
  object-fit: cover;
}

.textFont{
  padding: 10px;
  font-weight: bold;
  font-family: helvetica;
  color: white;
}
p{
  margin:0px;
  padding:0px;
}

.fa{
  color: white !important;
}
