
/* this css file only handles the check box format */
.center{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

input[type="checkbox"]{
    position: relative;
    width: 60px;
    height: 20px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.2);
    transition: .5s;
}

input:checked[type="checkbox"]
{
  /* this is the color after the switch */
  background: #1abc9c;
}
input[type="checkbox"]:before
{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: #2ecc71;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: .5s;
}
input:checked[type="checkbox"]:before
{
  left: 40px;
}
