
.signin {
  padding-top: 8%;
}
.modal-login {
  color: #636363;
  width: 350px;
}
.modal-login .modal-content {
  padding: 20px;
  border-radius: 30px;
  border: none;
  /* background:rgba(255,255,255,0.2); */
}
.modal-login .modal-header {
  border-image: radial-gradient(circle at center, #33ccff , #33cc33) 1 stretch;
  position: relative;
  justify-content: center;
}
.modal-login h4 {
  font-family: helvetica;
  text-align: center;
  font-size: 30px;
}
.modal-login  .form-group {
  position: relative;
}
.modal-login i {
  position: absolute;
  left: 13px;
  top: 11px;
  font-size: 18px;
}
.modal-login .form-control {
  padding-left: 40px;
}
.modal-login .form-control {
  /*border-color: #12b5e5;*/
}
.modal-login .form-control, .modal-login .btn {
  min-height: 40px;
  border-radius: 30px;
  transition: all 0.5s;
}
.modal-login .close {
  position: absolute;
  top: -5px;
  right: -5px;
}
.modal-login input[type="checkbox"] {
  margin-top: 1px;
}
.modal-login .forgot-link {
  color: #12b5e5;
  float: right;
}
.modal-login .btn {
  border: none;
  line-height: normal;
}
.modal-login .btn-color {
  background-image: linear-gradient(to right, #33ccff , #33cc33);
}
.modal-login .modal-footer {
  color: #999;
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  margin-top: -20px;
  justify-content: center;
}
.modal-login .modal-footer a {
  color: #12b5e5;
}
.txt {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
}
.button {
  color: gray;
}
