body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
  border-radius: 30px;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 20px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}

.search-title {
  text-align: center;
  width: 500px;
  top: 10%;
  left: 32%;
  position: absolute;
  height: 60px;
  font-size: 40px;
  font-weight: bold;
  font-family: helvetica;
  color: black;
}

.result {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  top: 25%;
  position: absolute;
}

.result-col1 {
  width: 20%;
  height: auto;
  /* background-color: green; */
  word-wrap: break-word;
  padding: 10px 0px;
}

.result-col3 {
  width: 80%;
  height: auto;
  background-color: white;
  border-radius: 20px;
}

.image-column {
  flex: 50%;
  max-width: 50%;
  padding: 5px 5px;
}

img {
  border-radius: 10px;
  padding: 5px 3px;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px;
}

.img-div {
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  color: white;
  font-weight: bold;
  word-wrap: break-word;
  visibility: hidden;
  border-radius: 10px;
  padding: 5px 5px;
}

.user-info {
  position: absolute;
  top: 75%;
  left: 3%;
  color: black;
  font-weight: bold;
  word-wrap: break-word;
  visibility: hidden;
  padding: 5px 5px;
  width: 300px;
  height: 50px;
}

.img-div:hover .overlay {
  visibility: visible;
}

.img-div:hover .user-info {
  visibility: visible;
}

.img-div:hover img {
  opacity: .5;
}

.img-div:hover .user-info img {
  opacity: 1;
}

.user-info .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}

.user-info p {
  display: inline-block;
  word-break: break-all;
}

.search-tags-container label {
  width: auto;
  color: white;
  cursor: pointer;
  margin: 1px;
  padding: 0.2em 0.6em 0.3em;
  display: inline-block;
  position: relative;
  font-size: 11.844px;
  text-align: left;
  font-weight: bold;
  line-height: 16px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: top;
  background-color: #28A745;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  border-radius: 3px;
  transition: background 142ms linear;
  -webkit-transition: background 142ms linear;
}

.search-tags-container {
  /* background-color: yellow; */
}

.calorie {
  margin-top: 20px;
}

#footer {
	width: 100%;
}

.footer_info {
	text-align: center;
}
